
@{
    ViewData["Title"] = "Home";
}


<div class="jumbotron text-center" style="background-image: url(/images/banner/1.jpeg); background-position: center; background-repeat: no-repeat; background-size: cover; border-radius: 0px;">
    <h1 class="display-3" style="color: white; text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);">Drizzly</h1>
    <br/>
    <p class="lead" style="color: white; text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);">Drizzly is a new way to discover the weather, our website can find you the best day to do your activity like hiking or cycling</p>
    <p class="lead" style="color: white; text-shadow: 2px 1px 1px rgba(150, 150, 150, 1);">You can choose your own activity with it's own rules and get notified for all your selected places</p>
    <br/>
    <div class="container">
        <p class="lead">
            <a asp-controller="Account" asp-action="Register"><button type="button" class="btn btn-info btn-lg" id="my-button"><i class="fa fa-sign-in" aria-hidden="true"></i> Create your account</button></a>
        </p>
    </div>
</div>

<br/>
<br/>

<div class="container marketing">

        <div class="row">
          <div class="col-lg-4 text-center">
            <img class="rounded-circle" src="https://images.pexels.com/photos/392018/pexels-photo-392018.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 20px;">
            <h2 style="margin-bottom: 20px;">Easy to use</h2>
              <p style="margin-bottom: 20px;">Create your new activity by using templates and choose all the different locations that you use on your activity or on your trip !</p>
              <p style="margin-bottom: 20px;">Just select the location on Google Maps and it's done. For the weather, adjust the different slider to edit some parameters like the wind speed, the temperature and so on</p>
          </div>
            <div class="col-lg-4 text-center">
                <img class="rounded-circle" src="https://images.pexels.com/photos/6945/sunset-summer-golden-hour-paul-filitchkin.jpg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 20px;">
                <h2 style="margin-bottom: 20px;">Free account</h2>
                <p style="margin-bottom: 20px;">On your free account you can get all the notification that you want but you're limited to 5 locations and 5 activities in your account.</p>
                <p style="margin-bottom: 20px;">You can still purchase the premium account to get unlimited locations and activities. On your premium account you can also receive notification on your phone using SMS</p>
            </div>
            <div class="col-lg-4 text-center">
                <img class="rounded-circle" src="https://images.pexels.com/photos/175389/pexels-photo-175389.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 20px;">
                <h2 style="margin-bottom: 20px;">Professional data</h2>
                <p style="margin-bottom: 20px;">Our system use high-quality weather information and forecast provider, this system analyze permanently those data and check the forecast.</p>
                <p style="margin-bottom: 20px;">You can pay for professional account to get data about agricultural weather, atmosphere weather or space weather</p>
            </div>
        </div>

</div>